body {
    font-family: 'Source Sans Pro', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 10px;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: .7em;
}

nav {
    width: 100%;
    background-color: #ffffff;
}

nav ul li {
    margin-left: 30px;
}

.fixed-nav nav {
    position: fixed;
    top: 0;
    z-index: 1;
    transition: background 500ms; /* TODO: Needs to be fixed */
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.bio {
    width: 50%;
    margin: 300 auto;
    margin-left: 100px;
    padding-right: 90px;
    padding-top: 200px;
}

img {
    width: 375px;
    height: auto;
    float: right;
    margin-right: 15%;
    border-radius: 20px;
}