body {
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.blurb h2 {
    font-size: 2.5rem;
}

.blurb p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.content {
    margin-top: 70px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 10px;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: .7em;
}

nav {
    width: 100%;
    background-color: #ffffff;
}

nav ul li {
    margin-left: 30px;
}

.fixed-nav nav {
    position: fixed;
    top: 0;
    z-index: 1;
    transition: background 500ms; /* TODO: Needs to be fixed */
}

.github-icon-projs {
    font-size: 2.5rem;
}

.devpost-icon {
    width: 3.1rem;
    margin-bottom: 25px;
    margin-left: 5px;
}

@media (max-width: 1200px) {
    .blurb h2 {
        font-size: 2rem;
    }
}